<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Active MQ Connection Factory -->
	 <bean id="activemqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${activemq.uri}" />
		<property name="redeliveryPolicy">
			<bean class="org.apache.activemq.RedeliveryPolicy">
				<property name="maximumRedeliveries" value="${activemq.maxRedeliveries}" />
			</bean>
		</property>
	</bean>
	
	<!-- JMS Queue Connection Factory -->
	<bean id="singleConnectionFactory"
		class="org.springframework.jms.connection.SingleConnectionFactory102">
		<property name="targetConnectionFactory"><ref bean="activemqConnectionFactory" /></property>
		<property name="pubSubDomain"><value>false</value></property>
	</bean>
	
	<!--Jsm Configuration Properties"/ -->
	<bean id="jmsProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list><value>connection.properties</value></list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>
	
	<bean id="BinaryMessageUploader" class="edu.abhi.tools.activemq.action.upload.BinaryMessageUploader" />
	<bean id="BinaryMessageDownloader" class="edu.abhi.tools.activemq.action.download.BinaryMessageDownloader" />
	<bean id="BinaryMessageTransferrer" class="edu.abhi.tools.activemq.action.transfer.GenericMessageTransferrer" />
	<bean id="BinaryMessageConsumer" class="edu.abhi.tools.activemq.action.consume.GenericMessageConsumer" />
	
	<bean id="TextMessageUploader" class="edu.abhi.tools.activemq.action.upload.TextMessageUploader" />
	<bean id="TextMessageDownloader" class="edu.abhi.tools.activemq.action.download.TextMessageDownloader" />
	<bean id="TextMessageTransferrer" class="edu.abhi.tools.activemq.action.transfer.GenericMessageTransferrer" />
	<bean id="TextMessageConsumer" class="edu.abhi.tools.activemq.action.consume.GenericMessageConsumer" />
	
</beans>